/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.dot {
  position: absolute;
  
  background: #EDDE45;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .7);
  height: 0;
  width: 0;
  border-radius: 5000px;
  
  &:before,
  &:after {
    position: absolute;
    content: " ";
    border-radius: inherit;
    height: 0px;
    width: 0px;
    box-shadow: 0 0 2px 2px #FF0000;
    
    transform: translate(-50%, -50%);
    animation: pulseInner 2s infinite ease-out;
    -webkit-animation: pulseInner 2s infinite ease-out;
  }
  
  &:after {
    height: 7px;
    width: 7px;
    box-shadow: 0 0 4px 2px #FFFF00;
    animation: pulseOuter 2s infinite ease-out;
    -webkit-animation: pulseOuter 2s infinite ease-out;;
  }
  
}

@-webkit-keyframes pulseInner {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  20% {
    opacity: 1
  }
  95% {
    height: 125px;
    width: 125px;
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulseOuter {
  0% {
    height: 7px;
    width: 7px;
    opacity: 0;
  }
  20% {
    opacity: 1
  }
  100% {
    height: 250px;
    width: 250px;
    opacity: 0.25;
  }
}
