/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.dot {
  position: absolute;
  background: #4C49A2;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.7);
  height: 0;
  width: 0;
  border-radius: 5000px;
}
/* line 17, ../sass/screen.scss */
.dot:before, .dot:after {
  position: absolute;
  content: " ";
  border-radius: inherit;
  height: 0px;
  width: 0px;
  box-shadow: 0 0 2px 2px #FFFF00;
  transform: translate(-50%, -50%);
  animation: inner 2s infinite ease-out;
  -webkit-animation: inner 2s infinite ease-out;
}
/* line 30, ../sass/screen.scss */
.dot:after {
  height: 7px;
  width: 7px;
  box-shadow: 0 0 4px 2px #FF0000;
  animation: outer 2s infinite ease-out;
  -webkit-animation: outer 2s infinite ease-out;
}

@-webkit-keyframes inner {
  /* line 41, ../sass/screen.scss */
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }

  /* line 46, ../sass/screen.scss */
  20% {
    opacity: 1;
  }

  /* line 49, ../sass/screen.scss */
  95% {
    height: 125px;
    width: 125px;
    opacity: 0.25;
  }

  /* line 54, ../sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes outer {
  /* line 59, ../sass/screen.scss */
  0% {
    height: 7px;
    width: 7px;
    opacity: 0;
  }

  /* line 64, ../sass/screen.scss */
  20% {
    opacity: 1;
  }

  /* line 67, ../sass/screen.scss */
  100% {
    height: 250px;
    width: 250px;
    opacity: 0.25;
  }
}

/* line 73, ../sass/screen.scss */
.block {
  position: fixed;
  top: 300px;
  background: #69FF69;
  width: 60px;
  color: #fff;
  border: 2px solid #fff;
  border-left: none;
  border-radius: 0 10px 10px 0;
}
/* line 82, ../sass/screen.scss */
.block form {
  padding: 5px;
  line-height: 30px;
  float: left;
  background: #FF5411;
  width: 30%;
  margin-top: 0px;
  border: 2px solid #fff;
  border-left: none;
  border-radius: 0 0 10px 0;
}
/* line 94, ../sass/screen.scss */
.block p {
  padding-left: 15px;
}

/* line 99, ../sass/screen.scss */
.show, .hide {
  cursor: pointer;
}
